<footer class="footer">
  <div class="container">
		<div class="padding contact-content">
			<div class="row">
				<div class="col-sm-4">
					<div class="contact-info">
						<img class="img-responsive footer-logo" src="/images/logo.png">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
						<ul class="address">
							<li><i class="fa fa-map-marker"></i>10 Fulmer Drive, Beaconsfield</li>
							<li><i class="fa fa-phone"></i>+44 (0)1753 88555</li>
							<li><i class="fa fa-envelope"></i>sam@shaw.com</li>
						</ul>
						<ul class="list-inline social-icons">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="contact-info date">
						<img class="img-responsive" src="/images/clock.png" alt="">
						<h2>Working Hours</h2>
						<ul>
							<li>Monday ................................ 8 am - 9 pm</li>
							<li>Tuesday ............................. 8 am - 10 pm</li>
							<li>Wednesday ....................... 8 am - 10 pm</li>
							<li>Thursday ............................ 8 am - 10 pm</li>
							<li>Friday ................................. 8 am - 10 pm</li>
							<li>Saturday ............................ 8 am - 10 pm </li>
							<li>Sunday ................................. 8 am - 10 pm</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="contact-info">
						<img class="img-responsive" src="/images/calender.png" alt="">
						<h2>Upcoming</h2>
						<div class="event">
							<div class="event-date">
								<p><span>3</span> Jan</p>
							</div>
							<div class="event-info">
								<h4>Lorem ipsum dolor sit amet</h4>
								<p>Excepteur sint occaecat cupidatat non proident.</p>
							</div>
						</div>
						<div class="event">
							<div class="event-date">
								<p><span>9</span> Feb</p>
							</div>
							<div class="event-info">
								<h4>Lorem ipsum dolor sit amet</h4>
								<p>Excepteur sint occaecat cupidatat non proident.</p>
							</div>
						</div>
						<div class="event">
							<div class="event-date">
								<p><span>15</span> May</p>
							</div>
							<div class="event-info">
								<h4>Lorem ipsum dolor sit amet</h4>
								<p>Excepteur sint occaecat cupidatat non proident.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

  <div id="map"></div>

  <div id="bottom">
		<div class="container text-center">
      <p>Copyright © 2015 Lemon Studios. Made with <i class="fa fa-heart heart"></i> by Marsh.</p>
		</div>
	</div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/jquery.vide.min.js"></script>
