<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Address</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod vulputate eros, eu semper purus laoreet quis. Integer eget erat purus. Sed urna eros, condimentum ac ex at, congue iaculis magna. Aliquam erat volutpat. Aenean molestie risus et cursus sollicitudin. Morbi pretium velit in nisl bibendum bibendum. Duis lacinia tempor hendrerit. Sed eu orci id mi elementum maximus et sed ligula. Praesent luctus, quam condimentum ullamcorper ornare, diam ligula vestibulum dolor, at ultricies urna odio vitae diam. Proin luctus suscipit enim, eu volutpat turpis hendrerit at. Proin vel nisl quam. Aenean dapibus vehicula urna eu pretium. Maecenas eget dolor nec lacus pulvinar accumsan dictum ac quam. Vivamus eu sodales enim. Quisque tempus ut justo non condimentum.
        </p>
      </div>

      <div class="col-lg-6">
        <p>FACEBOOK</p>
        <p>TWITTER</p>
        <p>INSTAGRAM</p>
        <p>YOUTUBE</p>
      </div>
    </div>

    <p>© 2015 Lemon Studios. All Right Reserved.</p>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/jquery.vide.min.js"></script>
