<footer class="footer">
  <div class="container">
		<div class="padding contact-content">
			<div class="row">
				<div class="col-sm-4">
					<div class="contact-info">
						<img class="img-responsive footer-logo" src="images/logo.png">
						<p>
              Lemon Studios is a private Personal Training Studio based in centre of Beaconsfield,
              our vision is to create the ultimate one on one ‘personal training’ experience with
              real life lasting results in training, posture, health and wellbeing!
            </p>
						<ul class="address">
							<li><i class="fa fa-map-marker"></i>Lemon Studios, 6a The Green, Wooburn Green HP10 0EE</li>
							<li><i class="fa fa-phone"></i>+44 (0)1753 88555</li>
							<li><i class="fa fa-envelope"></i><a href="mailto:lemonptstudios@gmail.com?Subject=Hello">lemonptstudios@gmail.com</li>
						</ul>

						<ul class="list-inline social-icons">
							<li><a href="//facebook.com/lemonptstudios"><i class="fa fa-facebook"></i></a></li>
							<li><a href="{{ site.instagram }}"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="contact-info date">
						<img class="img-responsive" src="images/clock.png" alt="">
						<h2>Working Hours</h2>
						<ul>
							<li>Monday ................................ 6 am - 10 pm</li>
							<li>Tuesday ............................... 6 am - 10 pm</li>
							<li>Wednesday ......................... 6 am - 10 pm</li>
							<li>Thursday ............................. 6 am - 10 pm</li>
							<li>Friday .................................... 6 am - 10 pm</li>
							<li>Saturday .............................. 7 am - 10 pm</li>
							<li>Sunday .................................. 7 am - 10 pm</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="contact-info">
						<img class="img-responsive" src="images/calender.png" alt="">
						<h2>Gallery</h2>
            
            <div class="row">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="images/footer/studio1.jpg" data-toggle="lightbox" data-gallery="multiimages" data-width="100">
                    <img src="images/footer/studio1.jpg" width="100%" height="100%" class="img-responsive">
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="images/footer/studio2.jpg" data-toggle="lightbox" data-gallery="multiimages" data-width="100">
                    <img src="images/footer/studio2.jpg" width="100%" height="100%" class="img-responsive">
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="images/footer/studio3.jpg" data-toggle="lightbox" data-gallery="multiimages" data-width="100">
                    <img src="images/footer/studio3.jpg" width="100%" height="100%" class="img-responsive">
                  </a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="images/footer/1.jpg" data-toggle="lightbox" data-gallery="multiimages" data-width="100">
                    <img src="images/footer/1.jpg" width="100%" height="100%" class="img-responsive">
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="images/footer/2.jpg" data-toggle="lightbox" data-gallery="multiimages" data-width="300">
                    <img src="images/footer/2.jpg" width="100%" height="100%" class="img-responsive">
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="images/footer/4.jpg" data-toggle="lightbox" data-gallery="multiimages">
                    <img src="images/footer/4.jpg" width="100%" height="100%" class="img-responsive">
                  </a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="images/footer/5.jpg" data-toggle="lightbox" data-gallery="multiimages">
                    <img src="images/footer/5.jpg" width="100%" height="100%" class="img-responsive">
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="images/footer/6.jpg" data-toggle="lightbox" data-gallery="multiimages">
                      <img src="images/footer/6.jpg" width="100%" height="100%" class="img-responsive">
                  </a>
                </div>
              </div>
            </div>
					</div>
				</div>
			</div>
		</div>
	</div>

  <div id="map"></div>

  <div id="bottom">
		<div class="container text-center">
      <p>Copyright © 2017 Lemon Studios. Made with <i class="fa fa-heart heart"></i> by Marsh.</p>
		</div>
	</div>
</footer>
