.home {
  .page-hero--large {
    height: 575px;
  }

  .page-hero--medium {
    height: 485px;
  }

  .page-hero--home {
    background: rgb(255, 222, 0); /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 222, 0, .8);

    .logo {
      position: relative;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
    }
  }

  .intro {
    .jumbotron {
      background-color: white;
    }
  }

  .photo-grid {
    position: relative;
    width: 100% !important;

    .row {
      width: 100% !important;
    }

    .col-lg-3 {
      padding-right: 0;
      padding-left: 0;
    }

    h2 {
       position: absolute;
       top: 200px;
       left: 0;
       width: 100%;
       text-align: center;
    }
  }

  .cta {
    background: url('images/studio-team.png');
    background-size: cover;

    h2 {
      color: #fff;
    }
  }

  .team {
    .heading {
      background-color: $brand-pink;
      color: #fff;
      padding: 30px 0 45px;
    }

    .member {
      padding: 40px 0;

      h2 {
        margin-bottom: 15px;
        color: #43575d;
      }

      ul {
        list-style: none;
        padding: 0;
      }

      .member-info {
        position: relative;
      }

      .member-image {
        position: absolute;
        top: 40px;
        width: 150px;
      }
    }

    .left-side {
      border-right: 1px solid #dbdbdb;

      .member .member-info {
        padding-right: 200px;
      }

      .member .member-image {
        right: 35px;
      }
    }

    .right-side {
      .member .member-info {
        padding-left: 200px;
      }

      .member .member-image {
        left: 35px;
      }
    }
  }

  .pricing {
    .pricing-table {
      list-style: none;
      padding: 0;
      margin: 60px 0 60px 0;
    }

    .pricing-package {
      position: relative;
      margin: 40px 0 0;
      background-color: #f6f6f6;
      text-align: center;
      min-height: 345px;

      .pricing-package-header {
        background-color: $brand-pink;
        border-bottom-color: $brand-yellow-opac-hex;
        border-bottom-width: 5px;
        border-bottom-style: solid;

        .price-title {
          margin: 0;
          padding: 17px 30px;
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: rgba(255,255,255,0.1);
          font-size: 14px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #fff;
        }

        .price {
          padding: 27px 30px 17px;
          color: #fff;
          font-weight: bold;
          line-height: 0.7;
          letter-spacing: 0.05em;

          .price-currency {
            vertical-align: bottom;
            font-size: 20px;
          }

          .price-number {
            vertical-align: bottom;
            font-size: 60px;
          }

          .price-decimal {
            vertical-align: top;
            font-size: 30px;
          }

          .price-description {
            padding: 0 30px 26px;
            font-style: italic;
            color: #888;
          }
        }

        .price-featured {
          position: absolute;
          width: 100%;
          padding: 10px 30px 11px;
          font-size: 14px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #000;
        }
      }

      .pricing-package-items {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          padding: 10px 30px;
        }

        li:first-child {
          border-top: none;
        }

        del {
          text-decoration: none;
          opacity: 0.4;
        }
      }
    }

    .pricing-package-featured {
      margin-top: 0;
    }

    .pricing-package-featured .pricing-package-header {
      border-bottom-width: 45px;
    }

    .terms {
      color: $brand-pink;
    }
  }

  .testimonials {
    background: #eee;
    text-align: center;
    padding: 60px 0;

    .section-title {
      margin: 0 0 30px;
      text-align: center;
      position: relative;
    }

    ul {
      list-style: none;
    }

    .carousel-indicators {
      bottom: -35px;
    }
  }

  .cta-enquiry {
    background-color: $brand-yellow-opac;

    .enquiry-form .btn-primary {
      padding: 15px 55px;
      display: inline-block;
      margin-top: 35px;
      background-color: #f26522;
      color: #fff;
    }
  }
}

.header {
  .social-link {
    margin: 10px 5px 5px 10px;
    padding: 5px;
    position: fixed;
    font-size: 1.33333333em;
    line-height: .75em;
    z-index: 9999;

    a {
      color: $brand-pink;
      text-decoration: none;
    }
  }

  #sidebar-wrapper {
    margin-right: -250px;
    right: 0;
    width: 250px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    background: $brand-pink;
  }

  .spacer-25px {
    margin-bottom: 25px;
  }

  .sidebar-nav {
    position: absolute;
    top: 30px;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
  }
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
  }
  .sidebar-nav li a:hover {
    text-decoration: none;
    color: #444444;
    background: rgba(255, 255, 255, 0.2);
  }
  .sidebar-nav li a:active,
  .sidebar-nav li a:focus {
    text-decoration: none;
  }
  .sidebar-nav li i {
    padding-right: 5px;
  }
  .sidebar-nav > .sidebar-brand {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
  }

  .sidebar-nav > .sidebar-brand a {
    color: #ffffff;
  }

  .sidebar-nav > .sidebar-brand a:hover {
    background: none;
    color: #444444;
  }

  .toggle {
    margin: 5px 5px 0px 0px;
  }

  #menu-toggle {
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    color: $brand-pink;
  }

  #sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
}

.footer {
  height: 100%;
  color: #5a6a72;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .contact-info h2 {
  	font-size:32px;
  	margin-top:8px;
  	margin-bottom:25px;
  }

  .contact-info .footer-logo {
    width: 30%;
  	margin-bottom:35px;
  }

  .contact-info .address {
  	margin-top:25px;
  	margin-bottom:20px;
  }

  .contact-info li {
  	margin-bottom:10px;
  	font-size:16px;
  }

  .contact-info.date li{
  	font-size:18px;
  }

  .contact-info li  i {
  	font-size:18px;
  	margin-right:10px;
  }


  .social-icons  {
  	font-size:16px;
  	font-weight:600;
  }

  .social-icons ul {
  	margin-top:20px;
  }

  .social-icons li i{
  	background-color:#fff;
  	color:#fff;
  	height:25px;
  	width:25px;
  	font-size:18px;
  	line-height:25px;
  	display:block;
  	text-align:center;
  	border-radius:3px;
  	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-ms-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
  }

  .social-icons li i.fa-facebook {
  	background-color:#566C9E;
  }

  .social-icons li i.fa-twitter {
  	background-color:#0EB1F2;
  }

  .social-icons li i.fa-instagram {
  	background-color:#1F84D2;
  }

  .contact-info .event{
  	position:relative;
  	overflow:hidden;
  	margin-top:20px;
  	padding:3px 0;
  }

  .contact-info .event-date{
  	position:absolute;
  	left:0;
  	top:0px;
  	text-align:center;
  	font-size:14px;
  	height:65px;
  	width:65px;
  	border:1px solid #e6e6e6;
  }

  .contact-info .event-date span{
  	display:block;
  	font-weight:300;
  	font-size:42px;
  	line-height:35px;
  	margin-bottom:3px;
  }

  .contact-info .event-info {
  	padding-left:80px;
  }

  .contact-info .event-info h4 {
  	margin-bottom:0;
  }

  #map {
    width: 100%;
    height: 400px;
  }

  #bottom {
    background: $brand-yellow-opac;
    padding: 40px 0 30px;

    .heart {
      color: #E74C3C;
    }
  }
}
